body{
    font-family: Arial sans-serif;
    background: darkgrey;
    color: black;
    margin-top: 60px;
}

.container{
    margin: 0 auto;
    width: 1175px;
}

.navbar {
    display: block;
    background: #6a7dff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.delete-button{
    background: brown;
    color: white;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    border-radius:10%;
}
.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}

table {
    width: 80%;
    text-align: center;
    border: 2px solid;
}

td {
    width: 20px;
    text-align: center;
    border: 2px solid;
}

.head {
    font-size: 20px;
    color: red;

}

.disp {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}


.margin {
    margin-left: 30px;
}

.label {
    display: inline-block;
    min-width: 150px;
}

.error {
    color: red;
    margin-left: 20px;
}

.correct {
    color: green;
    margin-left: 20px;
}