{% extends 'base.html' %}
{% block title%}ToDo View{% endblock %}
{% block menu %}
<a href="{% url 'todo_add' %}">Add ToDo</a>
{% endblock %}
{% block content %}
<h1>Подробный просмотр задачи</h1>
<div class="disp">
    <label class="label">Title</label>
    <input type="text" value="{{todo.title}}" width="1000px" disabled>
</div>
<div class="disp">
    <label class="label">End Date</label>
    <input type="text" value="{{todo.date_todo}}" disabled>
</div>
<div class="disp">
    <label class="label">State</label>
    {% for state in states %}
    {% if todo.state == state.state %}
    <input type="text" value="{{state.rus}}" disabled>
    {% endif %}
    {% endfor %}

</div>
<div class="disp">
    <span class="label">Description</span>
    <textarea name="description" rows="10" cols="30" wrap="hard" disabled>"{{todo.description}}"</textarea>
</div>
{% endblock %}

